@import url("//fonts.googleapis.com/css?family=Work+Sans:300,400,600");

/* ! -------------------reset-styles------------------ */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #444;
}

/* ! ------------------------body-------------------- */
body {
    background: #f3f3f3;
    color: #333;
    font-family: "Work Sans", sans-serif;
    line-height: 1.4;
    height: 100%;
    width: 100%;
    font-weight: 400;
    min-width: 320px;
    font-style: normal;
}

body.lock,
html.lock {
    overflow: hidden;
}

/* ! ------------------------styles------------------ */

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
    max-width: 1000px;
    margin: 30px auto;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.title-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    transition: .3s;
    margin-left: 20px;
}

.title-container button:hover {
    background-color: rgb(192, 255, 192);
}

.title-container svg {
    width: 20px;
    height: 20px;
}

.form {
    position: relative;
    width: 400px;
}

.form-container .title {
    display: block;
    margin-bottom: 5px;
}

.form button {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #000;
    transition: .3s;
}

.form button:hover {
    background-color: rgb(224, 224, 224);
}

.form svg {
    width: 20px;
    height: 20px;
}

.form textarea {
    font-size: 14px;
    padding: 10px 55px 10px 20px;
    height: 100px;
    width: 100%;
    resize: none;
    border: 1px solid #000;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.card {
    position: relative;
    max-width: 300px;
    min-width: 200px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
}

.card button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    right: -15px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    transition: .3s;
}

.card button:hover {
    background-color: rgb(255, 221, 221);
}

.card button svg {
    width: 20px;
    height: 20px;
    fill: red;
}